<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns="http://schemas.android.com/apk/res/androoid"
		id="cordova-plugin-yugofit"
		version="1.0.0">

		<name>YuGoFIT</name>
		<description>VLC Stream Player</description>
		<author>Yossi Neiman</author>
		<license>Apache 2.0</license>
		<keywords>cordova, VLC, stream, rtsp, rtp</keywords>

		<js-module src="www/YuGoFIT.js" name="YuGoFIT">
			<clobbers target="window.YuGoFIT" />
		</js-module>
        
		<!-- ES6 promise polyfill -->
    	<dependency id="es6-promise-plugin" version="4.1.0" />


        <platform name="ios">
            <config-file target="config.xml" parent="/*">
                <feature name="YuGoFIT">
                    <param name="ios-package" value="YuGoFIT"/>
                </feature>
            </config-file>
 	          
			<podspec>
				<config>
				</config>
				<pods use-frameworks="true">
					<pod name="GoogleMLKit/PoseDetection" />
				</pods>
			</podspec>

			<preference name="CAMERA_USAGE_DESCRIPTION" default="Track your training"/>
			<config-file target="*-Info.plist" parent="NSCameraUsageDescription">
				<string>$CAMERA_USAGE_DESCRIPTION</string>
			</config-file>
		
			<source-file src="src/ios/YuGoFIT.swift" />
			<source-file src="src/ios/MLKitExtensions.swift" />
			<source-file src="src/ios/UIUtilities.swift" />

            <framework src="/usr/lib/libbz2.dylib" />
            <framework src="/usr/lib/libiconv.dylib" />
            <framework src="/usr/lib/libstdc++.dylib" />
            <framework src="/usr/lib/libz.dylib" />
            <framework src="Security.framework" />
            <framework src="QuartzCore.framework" />
            <framework src="OpenGLES.framework" />
            <framework src="CoreText.framework" />
            <framework src="CFNetwork.framework" />
            <framework src="AudioToolbox.framework" />
            <framework src="CoreAudio.framework" />
            <framework src="UIKit.framework" />
            <framework src="Foundation.framework" />
        </platform>


		<platform name="android">	
			<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
		
		    <config-file target="AndroidManifest.xml" parent="/*">
				<uses-feature android:name="android.hardware.camera" />
				<uses-feature android:name="android.hardware.camera.autofocus" />
				<uses-permission android:name="android.permission.CAMERA" />
				<uses-permission android:name="android.webkit.PermissionRequest" />
				<uses-permission android:name="android.permission.INTERNET" />
			</config-file>

			<config-file target="res/xml/config.xml" parent="/*">
				<feature name="YuGoFIT">
					<param name="android-package" value="com.yugofitLib.YuGoFIT"/>
					<param name="onload" value="true" />
				</feature>
			</config-file>
						
			<source-file src="src/android/com/yugofitLib/YuGoFIT.java" target-dir="src/com/yugofitLib"/>
			<source-file src="src/android/com/yugofitLib/BitmapUtils.java" target-dir="src/com/yugofitLib"/>
			<source-file src="src/android/com/yugofitLib/FrameMetadata.java" target-dir="src/com/yugofitLib"/>

			<hook type="after_build" src="src/hooks/appAndroidAfterPluginAdd.js" />


		</platform>
        

</plugin>